$white: white;

html, body {
	margin: 0;
	scroll-behavior: smooth;
}

/* Reference: https://stackoverflow.com/questions/24990554/how-to-include-a-font-ttf-using-css */
@font-face {
    font-family: 'Paris 2024';
    src: url('../fonts/Paris2024-Variable-Regular.eot');
    src: url('../fonts/Paris2024-Variable-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Paris2024-Variable-Regular.woff2') format('woff2'),
        url('../fonts/Paris2024-Variable-Regular.woff') format('woff'),
        url('../fonts/Paris2024-Variable-Regular.ttf') format('truetype'),
        url('../fonts/Paris2024-Variable-Regular.svg#Paris2024-Variable-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.navbar {
	font-family: 'Paris 2024';
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: 0.3s;
	font-size: 25px;
	z-index: 2;
}

.navbarLinks {
	display: flex;
	margin-right: 20px;
}

.navbarLinks a {
	color: $white;
	align-items: center;
	text-decoration: none;
	padding: 30px 20px;
}

.logo {
	height: 5vh;
	padding: 30px;
	transition: height 0.3s;
}

.parisText {
	font-family: 'Paris 2024';
	color: $white;
	position: absolute;
	top: 20%;
	left: 12%;
	transform: translate(-12%, -20%);
	font-size: 250px;
	//transition: 0.9s;
	z-index: 1;
}

#parallax {
	/* Parallax reference: https://www.w3schools.com/howto/howto_css_parallax.asp */
	background-image: url("../images/parisbg.jpg");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.5s;
}

.blurFilter {
	/* Blur filter reference: https://www.w3schools.com/cssref/css3_pr_backdrop-filter.php */
	backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}